---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/books/OL22856696M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.008"'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers": {"alibris_id": ["9780747542988"], "google": ["795qQgAACAAJ"],
        "librarything": ["5403381"], "goodreads": ["56073094"]}, "series": ["Harry
        Potter #1"], "covers": [10521270], "lc_classifications": ["PZ7.R79835 Hara
        1998"], "ocaid": "harrypotterphilo0000rowl_j1k7", "languages": [{"key": "/languages/eng"}],
        "genres": ["Juvenile fiction", "Juvenile fiction."], "source_records": ["marc:wfm_bk_marc/wfm_bk_marc:376490528:1276"],
        "title": "Harry Potter and the Philosopher''s Stone", "edition_name": "printing
        (2)", "subjects": ["Potter, Harry (Fictitious character) -- Juvenile fiction",
        "Wizards -- Juvenile fiction", "Magic -- Juvenile fiction", "Hogwarts School
        of Witchcraft and Wizardry (Imaginary place) -- Juvenile fiction", "Schools
        -- Juvenile fiction", "England -- Juvenile fiction"], "publish_country": "enk",
        "by_statement": "J. K. Rowling.", "oclc_numbers": ["988930667"], "type": {"key":
        "/type/edition"}, "location": ["NBuC"], "publishers": ["Bloomsbury"], "description":
        "Rescued from the outrageous neglect of his aunt and uncle, a young boy with
        a great destiny proves his worth while attending Hogwarts School for Wizards
        and Witches", "physical_format": "Paperback", "key": "/books/OL22856696M",
        "authors": [{"key": "/authors/OL23919A"}], "publish_places": ["London, England"],
        "oclc_number": ["41534303"], "pagination": "223 p. ;", "classifications":
        {}, "notes": "Sequel: Harry Potter and the Chamber of Secrets\r\nBloomsbury
        Paperbacks UK", "number_of_pages": 223, "isbn_13": ["9780747542988"], "isbn_10":
        ["0747542988"], "publish_date": "1998", "copyright_date": "1997", "works":
        [{"key": "/works/OL82563W"}], "latest_revision": 29, "revision": 29, "created":
        {"type": "/type/datetime", "value": "2009-01-07T23:46:06.178276"}, "last_modified":
        {"type": "/type/datetime", "value": "2025-04-16T10:17:08.981375"}}'
  recorded_at: Thu, 19 Feb 2026 12:23:36 GMT
recorded_with: VCR 6.3.1
