---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?fields=key,title,author_name,first_publish_year,cover_i,edition_count&limit=5&q=fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"numFound":1713158,"start":0,"numFoundExact":true,"num_found":1713158,"documentation_url":"https://openlibrary.org/dev/docs/api/search","q":"fiction","offset":null,"docs":[{"author_name":["Isaac
        Asimov"],"cover_i":14612610,"edition_count":97,"first_publish_year":1951,"key":"/works/OL46125W","title":"Foundation"},{"author_name":["Jorge
        Luis Borges"],"cover_i":10832290,"edition_count":78,"first_publish_year":1945,"key":"/works/OL110971W","title":"Ficciones"},{"author_name":["Agatha
        Christie"],"cover_i":13699667,"edition_count":1091,"first_publish_year":1920,"key":"/works/OL472715W","title":"The
        Mysterious Affair at Styles"},{"author_name":["Bram Stoker"],"cover_i":12216503,"edition_count":736,"first_publish_year":1897,"key":"/works/OL85892W","title":"Dracula"},{"author_name":["Toni
        Morrison","MorrisonToni","Toni Morrison"],"cover_i":8261367,"edition_count":107,"first_publish_year":1987,"key":"/works/OL50548W","title":"Beloved"}]}'
  recorded_at: Thu, 19 Feb 2026 12:23:38 GMT
recorded_with: VCR 6.3.1
