---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?fields=key,title,author_name,first_publish_year,cover_i,edition_count&limit=20&q=harry%20potter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"numFound":3765,"start":0,"numFoundExact":true,"num_found":3765,"documentation_url":"https://openlibrary.org/dev/docs/api/search","q":"harry
        potter","offset":null,"docs":[{"author_name":["J. K. Rowling"],"cover_i":15155833,"edition_count":392,"first_publish_year":1900,"key":"/works/OL82563W","title":"Harry
        Potter and the Philosopher''s Stone"},{"author_name":["J. K. Rowling"],"cover_i":15158660,"edition_count":144,"first_publish_year":2007,"key":"/works/OL82586W","title":"Harry
        Potter and the Deathly Hallows"},{"author_name":["J. K. Rowling"],"cover_i":10580435,"edition_count":271,"first_publish_year":1999,"key":"/works/OL82536W","title":"Harry
        Potter and the Prisoner of Azkaban"},{"author_name":["J. K. Rowling"],"cover_i":12059372,"edition_count":223,"first_publish_[...]
