---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?fields=key,title,author_name,first_publish_year,cover_i,edition_count&limit=20&q=asdfghjklqwertyuiop123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"numFound":0,"start":0,"numFoundExact":true,"num_found":0,"documentation_url":"https://openlibrary.org/dev/docs/api/search","q":"asdfghjklqwertyuiop123456789","offset":null,"docs":[]}'
  recorded_at: Mon, 19 Jan 2026 19:20:17 GMT
recorded_with: VCR 6.3.1
